* {
    font-family: sans-serif;
    color: rgb(54, 54, 54);
}

body {
    margin: 0;
    background-color: rgb(232, 232, 232);
}

.top_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(212, 204, 196);
}

nav a {
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

nav a:hover {
    transform: scale(1.1);
}

nav {
    margin-right: 100px;
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
}

#order_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order_button{
    scale: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid;
}


.underline_heading h1{    
    border-bottom: 2px solid rgb(168, 168, 168);
    padding-bottom: 10px;
}

.underline_heading > *{
    padding-left: 10px;
    margin: 20px;
}

.image_list img{
    height: 200px;
}

.image_list{
    padding-left: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.image_input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#order_button:hover{
    background-color: rgb(197, 195, 191);
}

section{
    border: 2px solid rgb(168, 168, 168);
    background-color: rgb(212, 204, 196);
    padding: 30px;
}

.margin_section{
    margin-top: 20px;
}

.top_bar + img{
    border-bottom: 2px solid rgb(168, 168, 168);
}

#end_section{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding: 20px;
    text-align: left;
}

#end_section div{
    flex: 1;
}

#follow h1, #follow h1 + a{
    padding-left: 50px;
}

#follow img{
    width: 80px;
}


#specials_section img, #gallery_section img, #follow img{
    transition-duration: 0.5s;
}

footer {
    margin-top: 30px;
    border: 2px solid rgb(168, 168, 168);
    background-color: rgb(212, 204, 196);
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.scaling_object:hover{
    transform: scale(1.1);
}

button{
    transition-duration: 0.5s ;
}

.enlarge_gallery{
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 20px;
}

.enlarge_gallery:hover{
    background-color: rgb(197, 195, 191);
}

#image_url_input_gallery, #image_url_input_specials{
    padding: 5px 10px;
    width: 40%;
}